@{
    ViewData["Title"] = "Not Found";
}
<style>
    
    h1,a{
        color: #007dfe;
        cursor: default;
    }
    a{
        text-decoration: none;
        cursor: pointer;
    }
</style>
<main class="mt-5">
    <div class="d-flex justify-content-center flex-column w-100 align-items-center h-100">
        <img src="~/images/not_found.png" alt="not found" style="width: 100%; max-width:450px;">
        <h1>OOPS!😲Page Not Found</h1>
         <p>We're sorry, but the page you were looking for could not be found.</p>
        <a href="/">Go to home</a>
    </div>
</main>