@model HalloDocMVC.ViewModels.UserResetPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password Page";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    <link rel="stylesheet" href="~/css/ForgotPassword.css" />
}

<main class="forgot-password-page">
    <div class="background"></div>

    <div class="forgot-password-details d-flex justify-content-between flex-column" style="height: 100vh;">

        <div class="d-flex justify-content-end p-5">
            <button class="btn" id="theme-btn">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun" style="display: none;"></i>
            </button>
        </div>

        <div class="forgot-password-form d-flex justify-content-center align-items-center flex-column ">
            <div class="d-flex justify-content-center">
                <img src="~/images/logo.png" alt="Logo" style="width: 80%;">
            </div>

            <div class="d-flex mt-5 w-100">
                <a asp-controller="PatientLogin" asp-action="Index" class="back-btn"><i
                        class="fa-solid fa-chevron-left"></i> Back</a>
            </div>
            <h2 class="mt-2">Reset Password</h2>

            <form asp-action="ForgotPasswordPost"  style="width: 100%;"
                class="d-flex justify-content-center flex-column align-items-center">
                <div class="w-100 d-flex flex-column align-items-start">
                    <div class="input-with-icon align-items-center d-flex mt-4" style="width: 100%;">
                    <div class="form-floating  flex-grow-1">
                        <input asp-for="Username" type="text" class="form-control" id="Username"
                            placeholder="name@example.com">
                        <label asp-for="Username" for="Username">Username</label>
                    </div>

                    <i class="fa-solid fa-user user-icon"></i>

                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                
                <div class="form-floating mt-3 d-flex flex-column align-items-center" style="width: 100%;">
                    <button class="btn login-btn pt-2 pb-2" style="width: 100%;" type="submit">
                        Reset Password
                    </button>
                    <a asp-controller="PatientLogin" asp-action="Index" class="back-btn mt-5"> <i
                            class="fa-solid fa-chevron-left"></i> Back To Login</a>
                </div>
            </form>

        </div>

        <div class="mb-5 forgot-password-footer d-flex justify-content-center">
            <a href="#">Terms & Condition</a>
            <span class="ms-4 me-4"> | </span>
            <a href="#">Privacy Policy</a>
        </div>

    </div>
</main>