@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password Page";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    <link rel="stylesheet" href="~/css/ForgotPassword.css" />
}
@{
    string userId = Context.Request.Query["userId"];
    string token = Context.Request.Query["token"];
    ViewBag.userId = userId;
    ViewBag.token = token;
}
<main class="forgot-password-page">
    <div class="background"></div>

    <div class="forgot-password-details d-flex justify-content-between flex-column" style="height: 100vh;">

        <div class="d-flex justify-content-end p-5">
            <button class="btn" id="theme-btn">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun" style="display: none;"></i>
            </button>
        </div>

        <div class="forgot-password-form d-flex justify-content-center align-items-center flex-column ">
            <div class="d-flex justify-content-center">
                <img src="~/images/logo.png" alt="Logo" style="width: 80%;">
            </div>

            <h2 class="mt-2">Reset Password</h2>

            <form asp-action="ResetPasswordPost" id="myForm" style="width: 100%;"
                class="d-flex justify-content-center flex-column align-items-center">
                <div class="w-100 d-flex flex-column align-items-start">
                    <div class="input-with-icon align-items-center d-flex mt-4" style="width: 100%;">
                        <input asp-for="UserId" type="hidden" id="userId" value="@ViewBag.userId" />
                        <input asp-for="UserToken" type="hidden" id="token" value="@ViewBag.token" />   
                        <div class="form-floating  flex-grow-1">
                            <input asp-for="Password" type="password" class="form-control" id="Passwordhash" placeholder="Password">
                            <label asp-for="Password" for="Passwordhash">Password</label>
                        </div>
                        <i class="fa-regular fa-eye eye-icon" onclick="changePasswordView(document.getElementById('Passwordhash'),document.querySelector('.eye-icon'))"></i>

                    </div>
                    <span asp-validation-for="Password" id="passwordValid" class="text-danger"></span>
                    <div class="input-with-icon align-items-center d-flex mt-4" style="width: 100%;">
                        <div class="form-floating  flex-grow-1">
                            <input asp-for="ConfirmPassword" type="text" class="form-control" id="ConfirmPassword" placeholder="Password"
                                oninput="changePassword()">
                            <label asp-for="ConfirmPassword" for="Passwordhash"> Confirm Password</label>
                        </div>
                        <spa></span>
                            <i class="fa-solid fa-user user-icon"></i>

                    </div>
                    <span asp-for="ConfirmPassword" id="ConfirmPasswordValid" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 d-flex flex-column align-items-center" style="width: 100%;">
                    <button class="btn login-btn pt-2 pb-2" style="width: 100%;" type="button" onclick="submitReset()">
                        Reset Password
                    </button>
                    <a onclick="history.back()" class="back-btn mt-5"> <i
                            class="fa-solid fa-chevron-left"></i> Back To Login</a>
                </div>
            </form>

        </div>

        <div class="mb-5 forgot-password-footer d-flex justify-content-center">
            <a href="#">Terms & Condition</a>
            <span class="ms-4 me-4"> | </span>
            <a href="#">Privacy Policy</a>
        </div>

    </div>
</main>

<script src="~/js/passwordToggle.js"></script>
<script>
    function submitReset() {
        var confirmPassword = document.querySelector('#ConfirmPassword').value;
        var password = document.querySelector('#Passwordhash').value;
        var pwd= document.querySelector('#passwordValid');
        var confirmPwd = document.querySelector('#ConfirmPasswordValid');

        if (password !== confirmPassword) {
            return;
        }if(!password){
            pwd.innerHTML = "Password is required !";
        }if(!confirmPassword){
            confirmPwd.innerHTML = "Confirm Password is required !";
        }
        if(password && confirmPassword){
            pwd.innerHTML = "";
            confirmPwd.innerHTML = "";
            $("#myForm").submit();
            confirmPassword = "";
        }
    }

    const changePassword = () => {
        var confirmPasswordValid = document.querySelector('#ConfirmPasswordValid');
        var confirmPassword = document.querySelector('#ConfirmPassword').value;
        var password = document.querySelector('#Passwordhash').value;

        if (password !== confirmPassword) {
            confirmPasswordValid.innerText = "Password not matching"
            return;
        } else {
            confirmPasswordValid.innerText = ""
        }
    }
</script>

