@{
    ViewData["Title"] = "Invoicing Page";
}
<main class="container-sm mt-sm-5 mb-5">
    <div class="d-flex mt-4">
        <h3 class="fw-bold">Timesheets</h3>
    </div>
    <div class="border p-4 mt-3 mb-3 rounded shadow">
        <div class="d-flex justify-content-between align-items-center">
            <div class="form-floating ">
                <input type="text" class="form-control" id="Name" placeholder="Name">
                <label for="Name">Name</label>
            </div>
            <div>
                <button class="btn secondary-theme-btn">
                    Finalize Timesheets
                </button>
            </div>
        </div>
    </div>
    <div class="border p-4 mt-3 mb-3 rounded shadow">
        <h5 class="fw-bold">Timesheet Reimbursement</h5>
    </div>
</main>
