@model PatientRequestViewModel;
@{
    ViewData["Title"] = "Create Request";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<main class="patient-request-section container-sm mt-5">
        <div class="d-flex justify-content-end mt-4">
            <a asp-area="Patient" asp-controller="Dashboard" asp-action="Index" class="btn btn-sm back-link"><i class="fa-solid fa-chevron-left"></i> Back</a>
        </div>

        <form asp-action="NewRequestPost" id="myForm" method="post" enctype="multipart/form-data">
                    <div class="patient-request-form border p-4 mt-3 mb-3 rounded shadow">
            <div>
                <h4>Patient Information</h4>
                <div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="Symptoms" asp-for="Symptoms"  style="height: 100px"></textarea>
                        <label asp-for="Symptoms" for="Symptoms">Enter Brief Details Of Symtomps</label>
                    </div>
                    <span asp-validation-for="Symptoms" class="text-danger"></span>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Firstname" type="text" class="form-control" id="fname" placeholder="first name" disabled>
                            <input asp-for="Firstname" type="hidden">
                            <label asp-for="Firstname" for="floatingInput">First Name</label>
                          </div>
                          <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Lastname" type="text" class="form-control" id="lname" placeholder="last name" disabled>
                            <input asp-for="Lastname" type="hidden">
                            <label asp-for="Lastname" for="floatingInput">Last Name</label>
                          </div>
                          <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Birthdate" type="date" class="form-control" id="dob" placeholder="Date Of Birth" disabled>
                            <input asp-for="Birthdate" type="hidden">
                            <label asp-for="Birthdate" for="floatingInput">Date Of Birth</label>
                          </div>
                          <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <h4>Patient Contact Information</h4>
                <div class="row mt-3">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="email" disabled>
                            <input asp-for="Email" type="hidden">
                            <label asp-for="Email" for="Email">Email</label>
                          </div>
                          <span asp-validation-for="Email" class="text-danger" id="email-valid"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Mobile" id="Mobile" class="form-control" type="tel" oninput="this.value = this.value.replace(/[^0-9]/g, '')" name="Mobile" disabled/>
                            <input asp-for="Mobile" type="hidden" />
                            <input type="hidden" id="phone_hidden" name="full_phone" />
                          </div>
                          <span asp-validation-for="Mobile" class="text-danger" id="mobile-valid"></span>
                    </div>
                   <div id="password-fields" style="display: none;">
                        <div class="mb-3">
                            <div class="form-floating">
                                <input asp-for="Passwordhash" type="password" class="form-control" id="Password" placeholder="Password">
                                <label asp-for="Passwordhash" for="Password">Password</label>
                             </div>
                             <span asp-validation-for="Passwordhash" id="PasswordhashValid" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" oninput="changePassword()">
                                <label asp-for="ConfirmPassword" for="ConfirmPassword">Confirm Password</label>
                             </div>
                             <span asp-validation-for="ConfirmPassword" id="ConfirmPasswordValid" class="text-danger" ></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <h4>Patient Location</h4>
                <div class="row mt-3">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Street" type="text" class="form-control" id="Street" placeholder="street">
                            <label asp-for="Street" for="Street">Street</label>
                          </div>
                          <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="City" type="text" class="form-control" id="City" placeholder="city">
                            <label asp-for="City" for="City">City</label>
                          </div>
                          <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <select asp-for="State" class="form-select mb-3" aria-label="Large select example" placeholder="State">
                                <option selected disabled>State</option>
                                @foreach(var item in Model.AllRegionList){
                                     <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <label asp-for="State" for="Status">State</label>
                        </div>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Zipcode" type="text" class="form-control" id="Zipcode" placeholder="zipCode">
                            <label asp-for="Zipcode" for="Zipcode">Zip Code</label>
                          </div>
                          <span asp-validation-for="Zipcode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Roomnoofpatient" type="text" class="form-control" id="room" placeholder="room">
                            <label asp-for="Roomnoofpatient" for="floatingInput">Room # / Suit (Optional)</label>
                          </div>
                          <span asp-validation-for="Roomnoofpatient" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <h4>(Optional) Upload Photo/Document</h4>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" name="file" accept="application/pdf">

                    <label class="input-group-text upload-file-btn" for="inputGroupFile02">Upload</label>
                  </div>
            </div>
            <div class="mt-5 mb-3 d-flex justify-content-end">
                <div class="section-btns">
                    <button type="submit" class="btn secondary-theme-btn me-2" >
                        Submit
                    </button>
                    <a asp-area="Patient" asp-controller="Home" asp-action="SubmitRequest">
                        <button  class="btn theme-btn" type="button" >
                            Cancle
                    </button>
                    </a>
                    
                </div>
            </div>
        
        </div>
    </form>
        
    </main>