<div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="main-head">
                        <th scope="col">Staff</th>
                        @for (int i = 0; i < 7; i++)
                        {
                            <th scope="col" class="weekDays"></th>
                        }
                    </tr>
                    <tr class="coverage">
                        <td>Coverage</td>
                        @for(int i=0;i<7;i++){
                            <th scope="col" class="text-muted">0/24</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var provider in Model.AllProvidersList){
                        <tr>
                            <td scope="row" class="d-flex" style="white-space:nowrap;">
                                @if (!string.IsNullOrEmpty(provider.PhotoPath))
                                {
                                    <img src="~/@provider.PhotoPath" class="me-2" />
                                }
                                else
                                {
                                    <i class="fa-regular fa-user me-2"></i>
                                }
                                @provider.FullName
                            </td>
                            @for(int i = 0; i < 7 ; i++) {
                                <td scope="col"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>