 <div class="menu-list d-flex flex-wrap">
                @foreach (var item in Model.AccessMenuList)
                {
                    <div class="form-check me-4">
                        @if(Model.SelectedIds != null && Model.SelectedIds.Contains(item.Id)){
                            <input class="form-check-input selectedMenu" type="checkbox" name="menus" value="@item.Id" id="inputCheckBox-@item.Id" checked>
                            <label class="form-check-label" for="inputCheckBox-@item.Id">
                                @item.Name
                            </label>
                        }
                        else{
                            <input class="form-check-input UnselectedMenu" type="checkbox" name="menus" value="@item.Id" id="inputCheckBox-@item.Id">
                            <label class="form-check-label" for="inputCheckBox-@item.Id">
                                @item.Name
                            </label>
                        }
                    </div>
                }
</div>