

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Patient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DashboardLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HalloDocMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminDashboard.css" asp-append-version="true" />
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <style>
        .navbar{
            display: inline;
        }
        .navbar-collapse{
            background-color: white;
        }
        [data-bs-theme=dark] .navbar-collapse{
            background-color: black;
        }
    </style>
</head>


<body>
    <partial name="_Notification" style="z-index: 100;"/>

    <div class="family-request-page d-flex flex-column" style="min-height: 100vh;">
        <header class="dashboard-header">
            <nav class="border-bottom shadow-sm navbar">
                <div class="d-flex justify-content-between align-items-center border-bottom ps-4 pe-4">
                    
                    <div>
                        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a asp-controller="Dashboard" asp-action="Index">
                            <img src="~/images/logo.png" alt="logo hallo doc" style="width: 150px;">
                        </a>
                    </div>

                    
                    <div class="d-flex align-items-center">
                        <p class="me-2 d-none d-md-inline d-lg-inline d-xlg-inline">Welcome <strong id="UserName">Test Test</strong> </p>
                        <a asp-controller="Dashboard" asp-action="LogOut" class="btn theme-btn me-2"> <span class="d-none d-md-inline d-lg-inline"> Log Out </span> <i class="fas fa-sign-out-alt d-sm-inline d-md-none"></i> </a>
                        <button class="btn" id="theme-btn">
                            <i class="fa-regular fa-moon"></i>
                            <i class="fa-regular fa-sun" style="display: none;"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse nav-tabs d-md-block position-absolute shadow" id="navbarSupportedContent" style="width: 100%;">
                    <ul class="d-flex flex-md-row flex-column">
                        <li>
                            <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="UserProfile">Provider Location</a>
                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="UserProfile">My Profile</a>
                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="UserProfile">Provider</a>
                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="UserProfile">Partners</a>
                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="UserProfile">Access</a>
                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="UserProfile">Records</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

         @RenderBody()
        

        <footer class="mt-auto d-flex justify-content-md-end justify-content-center p-4 dark-footer">
            <div>
                <a href="#" class="text-white text-decoration-none">Terms & Condition</a>
                <span class="ms-4 me-4 text-white"> | </span>
                <a href="#" class="text-white text-decoration-none">Privacy Policy</a>
            </div>
        </footer>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/3bcc8c09be.js" crossorigin="anonymous"></script>
</body>

</html>