<!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-md-5 p-1">
                <!-- Modal body -->
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <div style="
                        height: 150px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    ">
                        <i class="fa-solid fa-circle-info text-warning warning-icon"></i>
                    </div>
                    <h5>Information</h5>
                    <p class="mt-2">When submitting a request, you must provide the correct contact details of the patient or manager. Failure to provide the correct email address and telephone number will result in delayed service or denial of service. </p>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
            </div>
        </div>