:root{
    --main-color : #01bce9;
    --white-color : #ffffff;
}

/* Dark Theme Color */
[data-bs-theme=dark]{
    --bs-body-bg: #161716;
}


/* Theme Button CSS */
#theme-btn{
    border: 0.5px solid var(--main-color);
    color: var(--main-color);
    z-index: 1;
}
#theme-btn:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: none;
}
